.skills {
    width: 100%;
    height: 100vh;
    @include sm {
        height: 170vh;
    }
    @include md {
        height: 170vh;
    }
    background-color: $text-color;

    .skills-page {
        @include flex($direction: column);
        .skill {
            width: 100%;
            height: 9vh;
            &-title {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 60px;
                @include sm {
                    margin-top: -5rem;
                }
                @include md {
                    margin-top: -5rem;
                }

                h2 {
                    text-align: center;
                    font-weight: lighter;
                    border: $border $primary-dark-color;
                    width: 30%;
                    @include sm {
                        font-size: 1rem;
                        margin-bottom: -12rem;
                    }
                    @include md {
                        font-size: 1rem;
                        margin-bottom: -12rem;
                    }
                    
                }
            }
        }

        .skill-competence {
            width: 100%;
            height: 100vh;
            padding-top: 5rem;
            transform: translateX(-100%);

            &.active {
                transform: translateX(0%);
                transition: 1.5s;
            }
    
    
            &-top{
                @include flex($align: flex-start);
                width: 100%;
                height: 50vh;
                @include sm {
                    flex-direction: column;
                    margin-top: 5rem;
                }
                @include md {
                    flex-direction: column;
                    margin-top: 5rem;
                }
        
                &-left {
                    width: 50%;
                    height: 50vh;
                    @include sm {
                        height: 30vh;
                    }
                    @include md {
                        height: 30vh;
                    }
                    
    
                    h3 {
                        font-weight: lighter;
                        color: $primary-dark-color;
                        margin-left: 10%;
                        border-bottom: 3px solid $secondary-color;
                        width: 70%;
                        @include sm {
                            font-size: 0.9rem;
                            margin-bottom: 1rem;
                        }
                        @include md {
                            font-size: 0.9rem;
                            margin-bottom: 1rem;
                        }
                    }
    
                    .competence-web {
                        margin: 2rem 0 0 8rem;

                        @include sm {
                            margin: 0;
                            margin-left: 2rem;

                        }
                        @include md {
                            margin: 0;
                            margin-left: 2rem;
                        }
                        
    
                        .front-end {

                            margin-bottom: 1.5rem;
                            @include sm {
                                margin-bottom: 1rem;
    
                            }
                            @include md {
                                margin-bottom: 1rem;
                            }
    
                            h4 {
                                margin-left: -5%;
                                font-weight: lighter;
                                @include sm {
                                    font-size: 0.8rem;
        
                                }
                                @include md {
                                    font-size: 0.8rem;
                                }
                                
                            }
                            
                            .list {
                                display: flex;
                                margin-top: 0.5rem;
                                
    
                                p {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 15px;
                                    margin-right: 2rem;
                                    background-color: $primary-dark-color;
                                    color: $text-color;
                                    width: 5rem;
                                    height: 3rem;
                                    text-align: center;
                                    border-radius: 30px;
                                    @include sm {
                                        margin-right: 1rem;
                                        font-size: 0.5rem;
                                        width: 5rem;
                                        height: 2rem;
                                        padding: 0.4rem;
                                    }
                                    @include md {
                                        margin-right: 1rem;
                                        font-size: 0.5rem;
                                        width: 5rem;
                                        height: 2rem;
                                        padding: 0.4rem;
                                    }
                                    
                                }
                                
                            }
                        }
    
                        .back-end{

                            margin-bottom: 1.5rem;
                            @include sm {
                                margin-bottom: 1rem;
    
                            }
                            @include md {
                                margin-bottom: 1rem;
                            }
                            
                            
    
                            h4 {
                                margin-left: -5%;
                                font-weight: lighter;
                                @include sm {
                                    font-size: 0.8rem;
        
                                }
                                @include md {
                                    font-size: 0.8rem;
                                }
                            }
                            
                            .list {
                                display: flex;
                                margin-top: 0.5rem;
                                
    
                                p {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 15px;
                                    margin-right: 2rem;
                                    background-color: $primary-dark-color;
                                    color: $text-color;
                                    width: 5rem;
                                    height: 3rem;
                                    text-align: center;
                                    border-radius: 30px;
                                    @include sm {
                                        margin-right: 1rem;
                                        font-size: 0.5rem;
                                        width: 5rem;
                                        height: 2rem;
                                        padding: 0.4rem;
                                    }
                                    @include md {
                                        margin-right: 1rem;
                                        font-size: 0.5rem;
                                        width: 5rem;
                                        height: 2rem;
                                        padding: 0.4rem;
                                    }
                                }
                                
                            }
                        }

                        .framework {

                            margin-bottom: 1.5rem;
                            @include sm {
                                margin-bottom: 2rem;
    
                            }
                            @include md {
                                margin-bottom: 2rem;
                            }
    
                            h4 {
                                margin-left: -5%;
                                font-weight: lighter;
                                @include sm {
                                    font-size: 0.8rem;
        
                                }
                                @include md {
                                    font-size: 0.8rem;
                                }
                            }
                            
                            .list {
                                display: flex;
                                margin-top: 0.5rem;
                                
    
                                p {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 15px;
                                    margin-right: 2rem;
                                    background-color: $primary-dark-color;
                                    color: $text-color;
                                    width: 5rem;
                                    height: 3rem;
                                    text-align: center;
                                    border-radius: 30px;
                                    @include sm {
                                        margin-right: 1rem;
                                        font-size: 0.5rem;
                                        width: 5rem;
                                        height: 2rem;
                                        padding: 0.4rem;
                                    }
                                    @include md {
                                        margin-right: 1rem;
                                        font-size: 0.5rem;
                                        width: 5rem;
                                        height: 2rem;
                                        padding: 0.4rem;
                                    }
                                }
                                
                            }
                        }
                    }

                    
                }
        
                &-right {
                    width: 50%;
                    @include sm {
                        margin-top: 5rem;

                    }
                    @include md {
                        margin-top: 5rem;
                    }
    
                    
    
                    h3 {
                        font-weight: lighter;
                        color: $primary-dark-color;
                        margin-left: 10%;
                        border-bottom: 3px solid $secondary-color;
                        width: 70%;
                        @include sm {
                            font-size: 0.9rem;
                            margin-bottom: 1rem;
                        }
                        @include md {
                            font-size: 0.9rem;
                            margin-bottom: 1rem;
                        }
                    }

                    .competence-art {
                        margin: 2rem 0 0 8rem;
                        @include sm {
                            margin: 0;
                            margin-left: 2rem;

                        }
                        @include md {
                            margin: 0;
                            margin-left: 2rem;
                        }
                        
    
                        .design {

                            margin-bottom: 1.5rem;
                            @include sm {
                                margin-bottom: 1rem;
    
                            }
                            @include md {
                                margin-bottom: 1rem;
                            }
    
                            h4 {
                                margin-left: -5%;
                                font-weight: lighter;
                                @include sm {
                                    font-size: 0.8rem;
        
                                }
                                @include md {
                                    font-size: 0.8rem;
                                }
                            }
                            
                            .list {
                                display: flex;
                                margin-top: 0.5rem;
                                
    
                                p {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 15px;
                                    margin-right: 2rem;
                                    background-color: $primary-dark-color;
                                    color: $text-color;
                                    width: 5rem;
                                    height: 3rem;
                                    text-align: center;
                                    border-radius: 30px;
                                    @include sm {
                                        margin-right: 1rem;
                                        font-size: 0.5rem;
                                        width: 5rem;
                                        height: 2rem;
                                        padding: 0.4rem;
                                    }
                                    @include md {
                                        margin-right: 1rem;
                                        font-size: 0.5rem;
                                        width: 5rem;
                                        height: 2rem;
                                        padding: 0.4rem;
                                    }
                                    
                                }
                                
                            }
                        }
    
                        .art{

                            margin-bottom: 1.5rem;
                            @include sm {
                                margin-bottom: 2rem;
    
                            }
                            @include md {
                                margin-bottom: 2rem;
                            }
    
                            h4 {
                                margin-left: -5%;
                                font-weight: lighter;

                            }
                            
                            .list {
                                display: flex;
                                margin-top: 0.5rem;
                                
    
                                p {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 15px;
                                    margin-right: 2rem;
                                    background-color: $primary-dark-color;
                                    color: $text-color;
                                    width: 5rem;
                                    height: 3rem;
                                    text-align: center;
                                    border-radius: 30px;
                                    @include sm {
                                        margin-right: 1rem;
                                        font-size: 0.5rem;
                                        width: 5rem;
                                        height: 2rem;
                                        padding: 0.4rem;
                                    }
                                    @include md {
                                        margin-right: 1rem;
                                        font-size: 0.5rem;
                                        width: 5rem;
                                        height: 2rem;
                                        padding: 0.4rem;
                                    }
                                }
                                
                            }
                        }

                        
                    }
                    
                }
    
                
                
            }
        
            &-bottom {
                @include flex($align: flex-start);
                width: 100%;
                height: 40vh;
                @include sm {
                    flex-direction: column;
                    margin-top: 10rem;
                }
                @include md {
                    flex-direction: column;
                    margin-top: 10rem;
                }
                
                &-left {
                    width: 50%;
    
                    h3 {
                        font-weight: lighter;
                        color: $primary-dark-color;
                        margin-left: 10%;
                        border-bottom: 3px solid $secondary-color;
                        width: 70%; 
                        @include sm {
                            font-size: 0.9rem;
                            margin-bottom: 1rem;
                        }
                        @include md {
                            font-size: 0.9rem;
                            margin-bottom: 1rem;
                        }
                    }

                    .soft-skills {
                        margin: 2rem 0 0 8rem;
                        @include sm {
                            margin: 0;
                            margin-left: 2rem;

                        }
                        @include md {
                            margin: 0;
                            margin-left: 2rem;
                        }

                        li {
                            margin: 10px;
                            font-weight: lighter;
                            font-size: 0.85rem;
                            @include sm {
                                margin-bottom: 1rem;
                            }
                            @include md {
                                margin-bottom: 1rem;
                            }
                        }
                    }

                    
                }
        
                &-right {
                    width: 50%;
                    
    
                    h3 {
                        font-weight: lighter;
                        color: $primary-dark-color;
                        margin-left: 10%;
                        border-bottom: 3px solid $secondary-color;
                        width: 70%;
                        @include sm {
                            font-size: 0.9rem;
                            margin-bottom: 1rem;
                        }
                        @include md {
                            font-size: 0.9rem;
                            margin-bottom: 1rem;
                        }
                    }

                    .languages {
                        margin: 2rem 0 0 8rem;
                        @include sm {
                            margin: 0;
                            margin-left: 2rem;

                        }
                        @include md {
                            margin: 0;
                            margin-left: 2rem;
                        }

                        li {
                            margin: 10px;
                            font-weight: lighter;
                            font-size: 0.85rem;
                            @include sm {
                                margin-bottom: 1rem;
                            }
                            @include md {
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
        
            }
        }
    }

    

    
}